<h1>Library Management</h1>
<ul>
  <li routerLink="/login" routerLinkActive="active">Login</li>
  <li routerLink="/home" routerLinkActive="active">Home</li>
  <li routerLink="/user" routerLinkActive="active">User</li>
  <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/entertainment" routerLinkActive="active">Entertainment</a></li>
  <li><a routerLink="/books" routerLinkActive="active">Books</a></li>
  <li routerLink="/user" routerLinkActive="active">User</li>
</ul>
<div>
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
